a {
    font-weight: 800;
    color: #86BD6B;
}


a:hover{
    text-decoration: none;
}
p {
    margin:0;
    font-size: 1.25rem;
    text-shadow: .25px .25px .25px #000;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
}

.home-header{
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    font-size: 7rem;
    text-shadow: 1px 1px 1px #fff;
}
.day{
    text-shadow: 1px 1px 1px #000;
}
.post{
    background-color: #86BD6B;
    color: white;
    text-align: center;
    height: 400px;
    border-radius: 25px;
    padding: 2px;

}
.wod-title{
    text-shadow: 1px 1px 1px #000;
    font-size: 2.0rem;
}
.wod-subtitle {
    text-shadow: none;
    font-size: 2vw;

}
.single-post-header {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;

    font-size: 8.5rem;

}

/*<!-- Figuring out -->*/
.single-post {
    border: 2px solid #86BD6B;
    color:#86BD6B;
    text-align: center;
    border-radius: 11px;
    padding: 20px 20px 20px 20px;
    font-family: 'Montserrat', sans-serif;

    width:100%;
    margin: 0 auto;
    display: block;
}
.single-post-title{
    text-shadow: 1px 1px 1px #000;
}
.single-post-subtitle{
    padding-bottom: 10px;
}
.coach-note{
    font-weight: lighter;
    padding-top: 20px;
}
.coach-em{
    color: #0B1C30;
}
.logo-header{
    height: auto;
    width: auto;
    max-width: 40px;
    max-height: 40px;
    position: relative;
    top: -10px;
}


@media screen and (min-width: 480px) {
    .single-post-title{
        font-size: 7rem;
    }
    .single-post-subtitle{
        font-size: 2.5rem;
    }
    .single-post-desc{
        font-size: 1.75rem;
    }
    .coach-note{
        font-size: 1.1rem;
    }

}
@media screen and (max-width: 480px) {
    .single-post-title{
        font-size: 5rem;
    }
    .single-post-subtitle{
        font-size: 2rem;
    }
    .single-post-desc{
        font-size: 1.5rem;
    }
    .coach-note{
        font-size: .9rem;
    }
}


.nav-style {
    color: purple;
}
.post-top {
    padding-top: 20px;
    padding-bottom: 20px;
}
