.post {
    float: left;
    background-color: #86BD6B; /* standard background color */
    color: white;
    border: 1px solid #898989;
    border-radius: 11px;
    padding: 10px 10px;
    text-align: center;
    /* change border to be inside the box */
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width: 50%;
    display: block;
    margin-top: 10px;
    height: 500px;
    max-height: 500px;
}

a {
    color: white;
    font-weight: 800;
    color: #D3D3D3;
}

.wod {
    margin: 0px 0px;
    letter-spacing: normal;
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    word-spacing: 0px;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.wod-small {
    margin: 0px 0px;
    letter-spacing: normal;
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    word-spacing: 0px;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-size: 1.3rem;
}
.wod-header {
    font-weight: 800;
    font-size: 3.0rem;
    font-size: 4vw;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 2px 2px #000;
}
.wod-header-small {
    font-weight: 800;
    font-size: 1.5rem;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 2px 2px #000;
}
.single-post {
    border: 2px solid #86BD6B;
    color:#86BD6B;
    text-align: center;
    border-radius: 11px;
    padding: 20px 20px 20px 20px;
    font-family: 'Montserrat', sans-serif;

    display: inline-block;
    font-size: 2vw;

    float: left;
    clear: left;
    display: block;
}

.post-block{
    margin: auto;
    width: 90%;
    padding: 10px;
}
.single-post-header {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;

    font-size: 7vw;

}
#wrap {
        float: left;
        position: relative;
        left: 50%;
}
.head {
    text-align: center;
    font-size: 10.0rem;
    border-color: black;
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 3px 3px 3px #aaa;

}

.first-child {
    margin-left: 0;

}
body {
    font-family: 'Roboto', sans-serif;
}
